@import "styles/base.module.scss";

.collapsableWrapper {
  color: #fff;
  .titleWrapper {
    padding-left: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
    }
    .arroIcon {
      margin-right: 2rem;
    }
    .rotate {
      transform: rotate(180deg);
    }
  }
  .collapsList {
    margin-top: 1rem;
    list-style: none;
    transition: all 0.5s;
    li {
      cursor: pointer;
      padding: 10px 0 10px 2.5rem;
      // background-color: green;
      // .acitveRoute {
      //   background-color: $color_3;
      //   background-color: red;
      // }
      &:hover {
        background-color: $color_3;
      }
      a {
        width: 100%;
        height: 100%;
        font-weight: 500;
        font-size: 1rem;
        color: $color_1;
        white-space: nowrap;
      }
    }
  }
}
