@import "styles/base.module.scss";

.collapsableWrapper {
  color: #fff;
  .titleWrapper {
    padding-left: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
    }
    .arroIcon {
      margin-right: 2rem;
    }
    .rotate {
      transform: rotate(180deg);
    }
  }
  .collapsList {
    margin-top: 1rem;
    list-style: none;
    transition: all 0.5s;
    .acitveRoute {
      background-color: $color_3;
      color: $color_2;
    }
    li {
      cursor: pointer;
      padding: 10px 0 10px 3rem;
      font-weight: 500;
      font-size: 1rem;
      white-space: nowrap;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      &:hover {
        background-color: rgba($color: $color_3, $alpha: 0.4);
      }
    }
  }
}
